/webservice-oferta-ldi-roaming/OfertaLdiRoamingEJB/target/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingWSDL/target/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingJPA/target/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingWEB/target/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingEAR/target/
/webservice-oferta-ldi-roaming/.project
/webservice-oferta-ldi-roaming/.settings/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingEAR/.project
/webservice-oferta-ldi-roaming/OfertaLdiRoamingEAR/.settings/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingEJB/.classpath
/webservice-oferta-ldi-roaming/OfertaLdiRoamingEJB/.project
/webservice-oferta-ldi-roaming/OfertaLdiRoamingEJB/.settings/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingJPA/.classpath
/webservice-oferta-ldi-roaming/OfertaLdiRoamingJPA/.project
/webservice-oferta-ldi-roaming/OfertaLdiRoamingJPA/.settings/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingWEB/.classpath
/webservice-oferta-ldi-roaming/OfertaLdiRoamingWEB/.project
/webservice-oferta-ldi-roaming/OfertaLdiRoamingWEB/.settings/
/webservice-oferta-ldi-roaming/OfertaLdiRoamingWSDL/.classpath
/webservice-oferta-ldi-roaming/OfertaLdiRoamingWSDL/.project
/webservice-oferta-ldi-roaming/OfertaLdiRoamingWSDL/.settings/